<div class="text-left">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="job in jobs">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="/career#{{ job.collapse }}">
                        {{ job.period.begin }} - {{ job.period.end }}<br>
                        {{ job.company.name }} - {{ job.company.location }}
                    </a>
                </h4>
            </div>
            <div id="{{ job.collapse }}" ng-class="{in: job.collapse === 'one'}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li class="" ng-repeat="activity in job.activities">{{ activity }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
</div>

