<div class="text-left">
    <div class="pull-right">
    </div>
    <address>
        <strong>Pedro Brentan</strong><br>
        {{ age }} years old<br>
        <a href="mailto:#">bidusurf@gmail.com</a><br>
        <abbr title="Phone">P:</abbr> (48) 9137-2591
    </address>
    <address>
        <strong>Home Address</strong><br>
        Rua dos Canteiros, 289 - casa 2<br>
        Campeche, Florianópolis - SC<br>
    </address>
    <p>
        <strong>Career objective</strong><br>
        Work as programmer, system developer, network administrator and DBA.
    </p>
    <p>
        <strong>About Me</strong><br>
        In addition to working with software development and system administration,
        I enjoy sports very much, especially outdoor and extreme sports, such as surf, cycling and climbing.<br><br>

        I was born and raised in São Paulo, and moved to Florianópolis looking for a more pleasant life for me,
        and also for my children, when I have them.<br><br>

        I love life and the good things it offers, thus,
        I try to live each day on the most harmonious and right way possible.<br><br>

        I am a joyful person, and I like to be in places where people fell
        good and have fun. That makes me a communicative person, who always
        tries to create a relaxed environment for everyone around me.<br><br>

        I know that I still have a lot to learn, and that is why I like
        to be up-to-date and acquire things in a natural way, besides being
        willing to study and research whenever necessary.
    </p>
</div>
